{% extends "base.html" %}
{% load static %}


{% block head_block %}

    <title>{{title}}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="{{ author }}">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    

{% endblock head_block %}
    

{% block body_block %}

    <header class="tool-bar">
        <img class="tool-bar-icon" src="{% static 'media/logo.webp' %}" alt="florentino">
        <h1 >Florentino</h1>
        <div class="tool-bar-hamburger"></div>
    </header>

    <main class="main-content">

        <article class="about-us-container" >

             
            
            <div class="about-us-content">

                <h2 class="about-us-name">
                    FLORENTINO PRINTING SERVICES
                </h2>

                <article class="about-us-mission prompt-semibold ">
                    To deliver high-quality, reliable printing services  with a commitment to customer satisfaction and innovation. Founded in 2007, Florentino Printing has and always will be trusted by many for our quality service.
                </article>

            </div>

            

        </article>

        <article class="services-container">

            <h2 class="services-title">
                SERVICES
            </h2>

            <div class="services-cards-container">


                <div class="service-card" style="background-image: url('{% static 'media/blueprint service.webp' %}');">
                    <div class="service-information">
                        <strong class="service-title prompt-extrabold">Blueprints & Plotter Services</strong>
                        <p class="service-descriptions prompt-light">Precise blueprint printing, plotter services, and high-quality tracing paper. Ideal for architects, engineers, and creative professionals.</p>
                    </div>

                </div>

                <div class="service-card" style="background-image: url('{% static 'media/crafting service.webp' %}');">
                    <div class="service-information">
                        <strong class="service-title prompt-extrabold">Wedding Invitations & Crafting</strong>
                        <p class="service-descriptions prompt-light">Elegant, glittered bifold invitations and exquisite crafting services. Designed to add a touch of sparkle to your special day.</p>
                    </div>

                </div>


                <div class="service-card" style="background-image: url('{% static 'media/tshirt service.webp' %}');">
                    <div class="service-information">
                        <strong class="service-title prompt-extrabold">T-Shirt Printing</strong>
                        <p class="service-descriptions prompt-light">High-quality custom T-shirt graphics. Perfect for personal and promotional use.</p>
                    </div>

                </div>


            </div>


        </article>


        <article class="message-container">
            

            <h2 class="message-title">
                GET IN TOUCH
            </h2>

            <form action="" method="post" >

                <input type="text" name="name" placeholder="Enter your name" class="input-box prompt-light-italic">
                
                <input type="text" name="email" placeholder="Your email for us to reach you" class="input-box prompt-light-italic">

                <label class="message-box-label prompt-medium" for="message"> Message </label>
                <textarea class="message-box prompt-light-italic" name="message" id="message" placeholder="Enter your printing needs or inquiries . . . "></textarea>

                <button type="submit" class="submit-button "> 
                    <img class="button-icon" src="{% static 'media/send icon.svg' %}" alt="send icon">  
                    <span class="prompt-extrabold button-text ">Send Request</span> 
                </button>

            </form>

        </article>
        

    </main>

    <footer class="contact-us-container">

        <h2 class="contact-us-title">
            CONTACT US
        </h2>

        <ul class="contact-list">
           <li>
                <img src="{% static 'media/email icon.svg' %}" alt="email icon">
                <strong class="prompt-light-italic">florentino.printing@gmail.com</strong>
           </li> 
           <li>
                <img src="{% static 'media/phone icon.svg' %}" alt="phone icon">
                <strong class="prompt-light-italic">+639123456789</strong>
           </li>
           <li>
                <img src="{% static 'media/time icon.svg' %}" alt="clock icon">
                <strong class="prompt-light-italic">Monday - Friday: 8:00 AM - 5:00 PM</strong>
           </li>
           <li>
                <img src="{% static 'media/location icon.svg' %}" alt="location icon">
                <strong class="prompt-light-italic">123 Print Lane, Masbate, Bicol Region, Philippines</strong>
           </li>

        </ul>

        <h1 class="footer-message protest-strike-regular">
            " Reach out to us for all your printing needs. We're here to help! "
        </h1>

    </footer>


{% endblock body_block %}
    

